.card {
  background-color: $card-default-background;
  transition: 1s;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;

  > &-header + .list-group,
  > .list-group + &-footer {
    border-top: 0;
  }
  .ios {
    padding: 10px;
  }

  .android {
    padding: 12px;
  }
}
.card-body {
  min-height: 1px;
  padding: 1.25rem;
}

.card-button {
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
}

.touched {
  opacity: 0.5;
}

.card-header,
.card-footer {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  // margin-bottom: 10px;
  // border-bottom: 1px solid $card-border-color;

  &.ios {
    font-weight: 600;
  }

  &.android {
    font-weight: 500;
  }
}

.card-border {
  border-bottom: 1px solid $card-border-color;
  transition: 1s;

  &.ios {
    border-bottom: 1px solid transparent;
  }
  &.card-header.android,
  &.card-footer.android {
    color: $blue-android;
  }

  &.card-header.ios,
  &.card-footer.ios {
    color: $blue-ios;
  }
}
