.depth-0 {
  box-shadow: $depth0 !important;
}
.depth-4 {
  box-shadow: $depth4 !important;
}
.depth-8 {
  box-shadow: $depth8 !important;
}
.depth-16 {
  box-shadow: $depth16 !important;
}
.depth-64 {
  box-shadow: $depth64 !important;
}
